.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #111;
  padding: 10px 0;
  margin: 0;
}

.navbar li {
  margin: 0 20px;
  color: white;
  cursor: pointer;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #111;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

